body{
    background-color: white;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none; 
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;  
  }

  .dialog-custom-width {
    width: 1500px !important; /* Use !important to ensure this style overrides others */
  }